body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgba(120, 105, 145, 0.5);
}
.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
}
.leftSide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.rightSide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    background-color: #7b88a1;
    width: fit-content;
    padding: 20px;
    border-radius: 10px;
    min-width: 500px;
    box-shadow: 0 5px 8px 4px rgba(0, 0, 0, 0.5);
}
input {
    font-size: 16px;
    background-color: rgb(215, 229, 250);
    border-radius: 5px;
    border: 2px solid transparent;
    text-align: center;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    background-color: rgb(26, 45, 68);
    width: fit-content;
    padding: 20px;
    border-radius: 10px;
    min-width: 500px;
    box-shadow: 0 5px 8px 4px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out;
}
.subsection {
    display: flex;
    justify-content: center;
    align-items: center;
}   
.section:hover {
    transform: scale(1.02);
}

.sectionLine {
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 2px;
    border-radius: 5px;
    cursor: pointer;

}
.sectionLabel {
    min-width: 100px;
    text-align: left;
    padding-left: 10px;
    color:rgb(184, 196, 206);
}

.sectionLine:hover {
    background-color: #4d5464;
    outline: 2px solid #17181a
}

.sectionLine input {
    min-width: 220px;
}
.sectionLine textarea {
    min-width: 220px;
    resize:vertical;
    border-radius: 5px;
    background-color: rgb(215, 229, 250);
    font-family: 'Roboto', sans-serif;
}

.complete:hover {
    background-color: #5d7199;
    color: white;
}

.intro{
    flex-direction: row
}
.introLeft {
    width:100px;
    border:2px solid #4d5464;
    border-radius: 10px;
    overflow: hidden;
    
}
.introLeft img {
    max-height: 100%;
    width:100%;
    border-radius: 10px;
    cursor: pointer;
}
.introLeft:hover {
    background-color: #5d7199
}
.introRight {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}
button {
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px solid transparent;
    background-color: #448daf;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}
button:hover {
    background-color: #23b5f8;
    outline:2px solid var(--darkBlue);
    color: var(--darkBlue);
}
   